<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - gamebook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">gamebook</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="character">
            @if (Model.Character == Models.Characters.Bramborak)
            {
                <img src="~/img/hrdinove_pribehu/bramborak.png" />
            }
            @if (Model.Character == Models.Characters.Majsner)
            {
                <img src="~/img/hrdinove_pribehu/majsner.png" />
            }
            @if (Model.Character == Models.Characters.Jirka)
            {
                <img src="~/img/hrdinove_pribehu/cmolik.png" />
            }

        </div>
        <div class="money">
            @if (Model.Money == 0)
            {

            }
            else
            {
                <p>@Model.Money Kč</p>
            }
        </div>
        <div class="inventory">
            @if (Model.itemy == null)
            {

            }
            else
            {
                <ul>
                    @foreach (var x in Model.itemy)
                    {
                        @if (x == Models.Item.Pernik)
                        {
                            <li><img src="~/img/piko.jpg" /></li>
                        }

                    }
                </ul>
            }


        </div>
        <div class="hp">
            @if(Model.HP == 0)
            {

            }
            else
            {
            <ul>
                @for (int i = 0; i < Model.HP; i++)
                {
                    <li><img src="~/img/hp.png" /></li>
                }
            </ul>

            }
        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - gamebook - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
