/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.character img {
    display: block;
    position: absolute;
    right: 0px;
    top: 57px;
    width: 15vw;
    border:solid 5px black;
}
.photos img {
    width:15vw;
    margin:5px;
}
.choose-ul{
     list-style-type:none;
     display:flex;
     position:absolute;
     bottom: 0px;
     left:0px;
     padding:0;

}
.choose-ul li p{
    font-size:14pt;
    margin:0;
}
a{
    text-decoration:none;
    color:black
}
.choose-ul .choose {
    flex-direction: row;
    padding: 4px;
    border: solid 2px black;
    margin: 2px;
    background-color:white;
}
.choose-ul .choose:hover > a {
    color: white;
    padding:5px;
}
.choose-ul .choose:hover {
    background-color: black;
}
a:hover{
    text-decoration:none;
    color:black;
}
.locations-imgs {
    width: 1200px;
    padding:0;
    margin:0 auto;
    height:600px;
}
.locations-imgs img {
    height: 600px;
    width: 1200px;
    object-fit: cover;
}
.money p{
    color: green;
    font-size: 15pt;
    position: absolute;
    top: 250px;
    right: 0px;
    margin-right:10px;
    font-weight:700;
}
.inventory {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0px;
    top: 275px;
    border: 2px solid black;
}
.inventory ul{
    padding:0;
}
.inventory img{
    width: 5vw;
}
.inventory li {
    list-style-type: none;
    margin:0;
}
.pegi > img{
    position:absolute;
    left:0;
    bottom:60px;
    width:5vw;
}
.hp{
    position:absolute;
    left:0;
    top:57px;
}
.hp ul{
    display:flex;
    padding:0;
    margin:0;
}
.hp li{
    list-style-type: none;
    margin:0;
}
.hp li img{
    width:3vw;
}