@page
@model gamebook.Pages.CheaterScreenModel
@{
}
<div class="text-center">
    <h1>Byl jsi usvědčen z podvodu</h1>
    <ul class="gameover">
        <li class="gameover-element">
            <a asp-page="Index">Restart</a>
        </li>
    </ul>
</div>
<div class="locations-imgs">
    <img src="~/img/cheater.png" />
</div>
<audio autoplay>
    <source src="~/sound/cheater.mp3" type="audio/mpeg">
</audio>