@page
@model gamebook.Pages.CheaterScreenModel
@{
}
<div class="text-center">
    <h1>Byl jsi usvědčen z podvodu</h1>
    <ul class="gameover">
        <li class="gameover-element">
            <a asp-page="Index">Restart</a>
        </li>
    </ul>
</div>
<div class="locations-imgs">
    <img src="~/img/gameover.jpg" />
</div>