@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .photos {
        display: inline;
    }
</style>
<div class="title">
    <div class="text-center">
        <h1 class="display-4">Liberec:Become Homeless</h1>
        @*<p>Vyber si svůj charakter</p>*@
        <div class="photos">
            <img src="~/img/hrdinove_pribehu/bramborak.png" />
            <img src="~/img/hrdinove_pribehu/majsner.png" />
            <img src="~/img/hrdinove_pribehu/cmolik.png" />
         </div>
        <form method="post">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Preset">
                <label class="form-check-label">Vyber si svůj Charakter</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Bramborak">
                <label class="form-check-label">Bramborák</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Majsner">
                <label class="form-check-label">Majsner</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Jirka">
                <label class="form-check-label">Jirka</label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Start</button>
            </div>
        </form>

    </div>
</div>

