@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .photos {
        display: inline;
    }
</style>
<div class="title">
    <div class="text-center">
        <h1 class="display-4">Liberec:Become Homeless</h1>
        @*<p>Vyber si svůj charakter</p>*@
        <div class="photos">
            <img src="~/img/hrdinove_pribehu/bramborak.png" />
            <img src="~/img/hrdinove_pribehu/majsner.png" />
            <img src="~/img/hrdinove_pribehu/cmolik.png" />
        </div>
        <form method="post">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Preset">
                <label class="form-check-label">Vyber si svůj Charakter</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Bramborak">
                <label class="form-check-label">Bramborák</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Majsner">
                <label class="form-check-label">Majsner</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="Character" value="Jirka">
                <label class="form-check-label">Jirka</label>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Start</button>
            </div>
        </form>

        <p>Naše hra reflektuje dnešní svět z úplně jiného pohledu, který určitě nikdo z vás nezažil. Jsi člověk na okraji společnosti, kterého opustila vlastní manželka, která s tebou byla stejně jen kvůli penězům. Když ti peníze došli našla si výrazně staršího partnera (určitě to bylo z lásky *sarkasmus*). Ty jsi zůstal opuštěný, bez peněz a aby jsi splatil dluhy, které ta tvoje křehotinka napáchala, tak si musel prodat svůj byt a přestěhovat se do polorozbořeného bytu v Liberci. Tvým úkolem je dostat se zpátky na vrchol a odletět za lepší zítřkem i kdyby to mělo stát to, že budeš vydělávat nelegálním způsobem.</p>
        <i>*veškéré nelegální aktivity vyskytující se v této hře odsuzujeme a neměl by je nikdo provozovat a zároveň veškeré vyobrazení čehokoliv v naší hře berte s nadsázkou*</i>
    </div>

</div>
<div class="pegi">
    <img src="~/img/PEGI.png" />
</div>

