@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body {
        background-color: black;
        overflow:hidden;
    }

    h1 {
        color: white;
    }

    p {
        color: white;
    }
</style>


<marquee direction="up" scrollammount="5px">
    <div class="text-center">
        <h1>GAME OVER</h1>
        <p></p>
        <p>---GAME DEVELOPERS---</p>
        <p>Matěj Andráško</p>
        <p>Adam Černohous</p>
        <p></p>
        <p>---TVÁŘE PROPUJČILI---</p>
        <p>David Čeliš</p>
        <p>Bramborák(Pražský úchyl)</p>
        <p>Major Majsner R.I.P.</p>
        <p>Jirka Vokiel Čmolík</p>
        <p>Keanu Reeves</p>
        <p>Skinny Pete</p>
        <p>Matěj Andráško</p>
        <p>Adam Černohous</p>
        <p>Tommy Angelo R.I.P.</p>
        <p>Anthony Adams</p>
        <p></p>
        <p>---SCÉNÁŘ---</p>
        <p>Matěj Andráško</p>
        <p>Adam Černohous</p>
        <p></p>
        <p>---GRAFIKA---</p>
        <p>Adam Černohous</p>
        <p>Matěj Andráško</p>
        <p></p>
        <p>---Dabing---</p>
        <p>Ladislav Hampl ml.</p>
        <p>Ladislav Hampl st.</p>
        <p>Ela Machová</p>
        <p>Lucie Andrášková</p>
        <p>Matěj Andráško</p>
        <p>Adam Černohous</p>
        <p></p>
        <p>---Střih dabingu---</p>
        <p>Matěj Andráško</p>
        <p></p>
        <p>---Directoři dabingu---</p>
        <p>Matěj Andráško</p>
        <p>Ladislav Hampl ml.</p>
        <p></p>
        <p>---HUDBA---</p>
        <p>Jesse Harlin</p>
        <p>Michael Hunter</p>
        <p></p>
        <p>---NÁSTROJE---</p>
        <p>Visual Studio 2019 Community</p>
        <p>Rozšíření Live Share</p>
        <p>GitHub</p>
        <p>Adobe Photoshop 2020</p>
        <p>Bootstrap</p>
        <p>Pinnacle Studio 14</p>
        <p></p>
        <p>---PROGRAMOVACÍ JAZYKY---</p>
        <p>C# (ASP .NET Core 5.0)</p>
        <p>HTML</p>
        <p>JavaScript</p>
        <p>CSS</p>
        <p></p>
        <p>Vytvořeno roku 2021</p>
        <p>Copyright ATOM Entertainment&#169</p>
    </div>
</marquee>

<audio autoplay>
    <source src="~/sound/Gamebook _hit.mp3" type="audio/mpeg">
</audio>